<h2> New Article </h2>
<%# link_to "Create new article", new_article_path %><br>
<%= @users.each do |user| %>
    <%= link_to user.username, user_path(user) %>
    <%= link_to @article.user.username, user_path(@article.user) %>

    
<% end %>